<%- include('../includes/header') %>

<div class="container">

  <p class="lead">Зарегистрированные пользователи</p>
  <div class="row">
    <div class="col">
      <a href="/admin/create-role">
        <button class="btn btn-success btn-right" type="button" style="float:right;">Новый</button>
      </a>
    </div>
  </div>
  <div class="row">
    <table class="table table-hover employees">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Название</th>
          <th scope="col">Роль</th>
          <th scope="col">Права</th>
        </tr>
      </thead>
      <tbody>

        <%roles.forEach((item, id) =>{ %>
        <tr>
          <th scope="col"><%= id+1%></th>
          <td><a href="/admin/edit-role/<%= item._id%>">
              <%= item.role%></a>
          </td>
          <td><%= item.title%></td>
          <td><%= item.description%></td>
        </tr>
        <%}) %>

      </tbody>
    </table>
  </div>


</div>

<%- include('../includes/footer') %>