<%- include('../includes/header') %>
<div class="container">
  <p class="lead">Список услуг, предоставляемых управлением</p>
  <div class="row">
    <div class="col">
      <a href="/admin/create-service"> <button class="btn btn-success btn-right" type="button"
          style="float:right;">Добавить</button></a>
    </div>
  </div>
  <div class="row">
    <table class="table table-hover employees">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Услуга</th>
          <th scope="col">Время, мин</th>
        </tr>
      </thead>
      <tbody>
        <% service.forEach((item, id) =>{ %>
        <tr>
          <th scope="col"><%= id+1%></th>
          <td><a href="#"><%= item["service-title"]%></a></td>
          <td><%= item["service-time"]%></td>
        </tr>
        <% })%>

      </tbody>
    </table>
  </div>
</div>

<%- include('../includes/footer') %>