<%- include("../public/page-header")%>


<div class="container" style="text-align:center;">
  <h4>Выберите дату, на которую вы хотите записаться для получения услуги</h4>
 <h3>"<%= services.title %>"</h3>
 
<div class="container-items">

<% 

for (i = 0; i < 30; i++) {
 

  let date = new Date();
  date.setDate(date.getDate() + i);

  if(date.getDay() != 0 && date.getDay() != 5 && date.getDay() != 6) { %>
  
   <div class="time-box"><%= date.toLocaleDateString()%></br>
    <% 
    
      let ticket = tickets.filter(function(item) {
        return item.dateOfReceipt == date.toLocaleDateString().slice(0,10)
      })
      console.log(ticket)
      
      if(ticket.length>0 && typeof(ticket) !== 'undefined' && ticket !== null) { %>
        <p>Свободных талонов: <%= services.count - ticket[0].countTickets.length %></p> 
      <%} else {%>
        <p>Свободных талонов: <%= services.count%></p>
      <%}%>
      
      
      
  </div>
<% }} %>

</div>
 
</div>


<%- include("../public/page-footer")%>