<%- include("../public/page-header")%>
<% console.log(services) %>

<div class="container" style="text-align:center;">
  <h4>Выберите дату, на которую вы хотите записаться для получения услуги</h4>
  <h3><%= services.title%></h3>
  <h3><%= tickets[0].countTickets%></h3>
  <%
  if(tickets[0].countTickets.length < 8) {
    counter = 8 - tickets[0].countTickets.length;
  } %>

  <p>Осталось талонов: <%=counter%></p>

 
</div>
<%- include("../public/page-footer")%>